# Default values for drbd-adapter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

registry: ghcr.io/hwameistor

drbdVersion: v9.1.8

nodeSelector: {}

tolerations: []

affinity: 
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/master
          operator: DoesNotExist