k8sImageRegistry: quay.io
hwameistorImageRegistry: ghcr.io
# Users in China can change to these sites for option
#k8sImageRegistry: quay.m.daocloud.io
#hwameistorImageRegistry: ghcr.m.daocloud.io

kubeletRootDir: /var/lib/kubelet

# StorageClass Settings
storageclass:
  # If enabled, a hwameistor storageclass will be created in your system
  enabled: true
  # If enabled, hwameistor storageclass will be a default storageclass in system
  # Attention: ensure your system doesn't have any default storageclass before
  # more info: https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/
  default: false
  # If allowed, volume can be expanded by modify pvc related field
  allowVolumeExpansion: true
  reclaimPolicy: Delete
  # If value >1, means enable volumeHA, you need install drbd kernel module on each node first
  replicaNumber: 1
  # Represent which kind disk will be used to provision volume
  diskType: HDD
  fsType: xfs

# storageNodes means the nodes will be used for creating local volumes
storageNodes: []

scheduler:
  replicas: 1
  kubeApiServerConfigFilePath: /etc/kubernetes/admin.conf
  imageRepository: hwameistor/scheduler
  resources: {}

webhook:
  replicas: 1
  imageRepository: hwameistor/admission
  resources: {}

localDiskManager:
  tolerationsOnMaster: true
  enableCSI: true
  registrar:
    imageRepository: k8scsi/csi-node-driver-registrar
    tag: v1.1.0
    resources: {}
  manager:
    imageRepository: hwameistor/local-disk-manager
    resources: {}

localDiskManagerCSIController:
  replicas: 1
  priorityClassName: 
  provisioner:
    imageRepository: k8scsi/csi-provisioner
    tag: v2.0.3
    resources: {}
  attacher:
    imageRepository: k8scsi/csi-attacher
    tag: v3.0.1
    resources: {}
    
localStorage:
  tolerationsOnMaster: true
  priorityClassName: 
  registrar:
    imageRepository: k8scsi/csi-node-driver-registrar
    tag: v1.1.0
    resources: {}
  member:
    imageRepository: hwameistor/local-storage
    resources: {}

localStorageCSIController:
  replicas: 1
  priorityClassName:
  provisioner:
    imageRepository: k8scsi/csi-provisioner
    tag: v2.0.3
    resources: {}
  attacher:
    imageRepository: k8scsi/csi-attacher
    tag: v3.0.1
    resources: {}
  resizer:
    imageRepository: k8scsi/csi-resizer
    tag: v1.0.1
    resources: {}
