name: HwameiStor PR

on:
  pull_request:
    types:
      - labeled

jobs:
  full-test:
    if: github.event.label.name == 'Full test'
    runs-on: ["vsphere"]
    timeout-minutes: 600
    steps:
      - name: delete
        run: |
          sudo rm -rf /github/actions-runner/_work/hwameistor/hwameistor/_build
          sudo rm -rf /github/actions-runner/_work/hwameistor/hwameistor/test/e2e/drbd-adapter/
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: e2e test
        env:
          E2E_TESTING_LEVEL: "periodCheck"
        run: make e2e-test