name: performance test
on:
  workflow_dispatch:


jobs:
  performance-test:
    runs-on: ["vsphere"]
    timeout-minutes: 180
    steps:
      - name: delete
        run: |
          sudo rm -rf /github/actions-runner/_work/hwameistor/hwameistor/_build
          sudo rm -rf /github/actions-runner/_work/hwameistor/hwameistor/test/e2e/drbd-adapter/
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: performance test
        env:
          E2E_TESTING_LEVEL: "performance-test"
        run: make e2e-test
