name: HwameiStor pr

on:
  pull_request:
    branches:
      - main

jobs:
  pull_request-unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
      - name: unit-test
        run: make unit-test
  pull_request-e2e-test:
    runs-on: ["self-hosted"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: e2e-test
        env:
          E2E_TESTING_LEVEL: "pr"
        run: make e2e-test
