name: HwameiStor pr

on:
  pull_request:
    branches:
      - main

jobs:
  pull_request-unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
      - name: unit-test
        run: make unit-test
  pull_request-e2e-test:
    runs-on: ["self-hosted"]
    steps:
      - name: delete
        run: |
          sudo rm -rf /github/actions-runner/_work/local-storage/local-storage/_build
      - name: Checkout
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
      - name: Set env
        run: |
          echo "PROJECT_SOURCE_CODE_DIR=`echo ${GITHUB_WORKSPACE}`" >> $GITHUB_ENV
      - name: make test image & e2e-test
        env:
          E2E_TESTING_LEVEL: "pr"
        run: |
          PROJECT_SOURCE_CODE_DIR=${PROJECT_SOURCE_CODE_DIR} make e2e-test

