name: Qodo Cover

on:
  workflow_dispatch:
    inputs:
      desired_coverage:
        description: "Desired coverage percentage"
        required: false
        default: "70"



jobs:
  qodo-cover:
    runs-on: ["ubuntu"]
    timeout-minutes: 180
    steps:
      - name: delete
        run: |
          sudo rm -rf /home/github/_work/hwameistor/hwameistor/_build
          sudo rm -rf /home/github/_work/hwameistor/hwameistor/test/e2e/drbd-adapter/
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: qodo-cover
        uses: qodo-ai/qodo-ci/.github/actions/qodo-cover@v0.1.12
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref_name }}
          project_language: go
          project_root: .
          code_coverage_report_path: ./coverage.xml
          coverage_type: cobertura
          test_command: "go test -coverprofile=coverage.out ./pkg/local-storage/controller/localvolume/  && gocov convert coverage.out | gocov-xml > coverage.xml" # your test command
          model: gpt-4o-2024-11-20
          max_iterations: 3
          desired_coverage: 90
          run_each_test_separately: no
          source_folder: "./pkg/local-storage/controller/localvolume/"
          test_folder: "./pkg/local-storage/controller/localvolume/"
          additional_instructions: "generated tests MUST be prefixed by a comment that says 'This test was generated by Qodo Cover'"
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
