name: Relok8s Check
on:
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * *'
  pull_request:
    branches:
      - main
    paths:
      - "helm/**"
      - "!helm/hwameistor/Chart.yaml"


jobs:
  relk8s-test:
    runs-on: ["vsphere"]
    timeout-minutes: 600
    steps:
      - name: delete
        run: |
          sudo rm -rf /github/actions-runner/_work/hwameistor/hwameistor/_build
          sudo rm -rf /github/actions-runner/_work/hwameistor/hwameistor/test/e2e/drbd-adapter/
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: relok8s test
        run: |
          make render-chart-values
          make relok8s-test
